apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ distribution_name }}
  title: {{ repo_name }}
  description: {{ description }}
spec:
  type: documentation
  lifecycle: experimental
  owner: {{ component_owner }}