{{project_name}}
===========================

|code_ci| |docs_ci| |coverage| |pypi_version| |license|

.. note::

    This project contains template code.

This is where you should write a short paragraph that describes what your module does,
how it does it, and why people should use it.

============== ==============================================================
PyPI           ``pip install {{project_name}}``
Source code    https://github.com/{{user_name}}/{{project_name}}
Documentation  https://{{user_name}}.github.io/{{project_name}}
Releases       https://github.com/{{user_name}}/{{project_name}}/releases
============== ==============================================================

This is where you should put some images or code snippets that illustrate
some relevant examples. If it is a library then you might put some
introductory code here:

.. code-block:: python

    from {{project_name}} import __version__

    print(f"Hello {{project_name}} {__version__}")

Or if it is a commandline tool then you might put some example commands here::

    $ python -m {{project_name}} --version

.. |code_ci| image:: https://github.com/{{user_name}}/{{project_name}}/actions/workflows/code.yml/badge.svg?branch=main
    :target: https://github.com/{{user_name}}/{{project_name}}/actions/workflows/code.yml
    :alt: Code CI

.. |docs_ci| image:: https://github.com/{{user_name}}/{{project_name}}/actions/workflows/docs.yml/badge.svg?branch=main
    :target: https://github.com/{{user_name}}/{{project_name}}/actions/workflows/docs.yml
    :alt: Docs CI

.. |coverage| image:: https://codecov.io/gh/{{user_name}}/{{project_name}}/branch/main/graph/badge.svg
    :target: https://codecov.io/gh/{{user_name}}/{{project_name}}
    :alt: Test Coverage

.. |pypi_version| image:: https://img.shields.io/pypi/v/template_shell.svg
    :target: https://pypi.org/project/{{project_name}}
    :alt: Latest PyPI version

.. |license| image:: https://img.shields.io/badge/License-Apache%202.0-blue.svg
    :target: https://opensource.org/licenses/Apache-2.0
    :alt: Apache License

..
    Anything below this line is used when viewing README.rst and will be replaced
    when included in index.rst

See https://{{user_name}}.github.io/{{project_name}} for more detailed documentation.
