Run in a container
==================

Pre-built containers with {{project_name}} and its dependencies already
installed are available on `Github Container Registry
<https://ghcr.io/DiamondLightSource/{{project_name}}>`_.

Starting the container
----------------------

To pull the container from github container registry and run::

    $ docker run ghcr.io/DiamondLightSource/{{project_name}}:main --version

To get a released version, use a numbered release instead of ``main``.
