API
===

.. automodule:: {{project_name}}

    ``{{project_name}}``
    -----------------------------------

This is the internal API reference for {{project_name}}

.. data:: {{project_name}}.__version__
    :type: str

    Version number as calculated by https://github.com/pypa/setuptools_scm
