name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  lint:
    uses: ./.github/workflows/_tox.yml
    with:
      tox: pre-commit,type-checking

  test:
    uses: ./.github/workflows/_test_all.yml
    with:
      tox: pre-commit,type-checking
{% if docker %}

  container:
    uses: ./.github/workflows/_container.yml
    permissions:
      contents: read
      packages: write
{% endif %}{% if sphinx %}

  docs:
    uses: ./.github/workflows/_docs.yml
{% endif %}

  dist:
    uses: ./.github/workflows/_dist.yml
{% if pypi %}

  pypi:
    if: github.ref_type == 'tag'
    needs: dist
    uses: ./.github/workflows/_pypi.yml
    permissions:
      id-token: write
{% endif %}

  release:
    needs: [dist{% if sphinx %}, docs{% endif %}]
    uses: ./.github/workflows/_release.yml
    permissions:
      contents: write
