import subprocess
import sys

from {{ package_name }} import __version__


def test_cli_version():
    cmd = [sys.executable, "-m", "{{ package_name }}", "--version"]
    assert subprocess.check_output(cmd).decode().strip() == __version__
