API
===

.. automodule:: {{package_name}}

    ``{{package_name}}``
    -----------------------------------

This is the internal API reference for {{package_name}}

.. data:: {{package_name}}.__version__
    :type: str

    Version number as calculated by https://github.com/pypa/setuptools_scm
