"""Command Line Interface for the {{ package_name }} package."""

import click

import {{ package_name }}.example


@click.command("{{ distribution_name }}")
@click.version_option()
@click.option(
    "-x",
    "--x_value",
    required=True,
    type=int,
    help="The value of X.",
)
@click.option(
    "-y",
    "--y_value",
    required=True,
    type=int,
    help="The value of Y.",
)
def main(x_value, y_value):
    """Add the values of X and Y."""
    print({{'f"{x_value} + {y_value} = {'}}{{ package_name }}{{ '.example.add(x_value, y_value)}"' }})
