name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  lint:
    uses: ./.github/workflows/_tox.yml
    with:
      tox: pre-commit

  test:
    uses: ./.github/workflows/_test.yml
    with:
      python-version: dev
      runs-on: ubuntu-latest
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  docs:
    uses: ./.github/workflows/_docs.yml
    permissions:
      contents: write

  example:
    needs: test
    if: github.ref_name == 'main'
    uses: ./.github/workflows/_example.yml
    secrets:
      EXAMPLE_DEPLOY_KEY: ${{ secrets.EXAMPLE_DEPLOY_KEY }}

  release:
    if: github.ref_type == 'tag'
    needs: docs
    uses: ./.github/workflows/_release.yml
    permissions:
      contents: write

  release-account-sync:
    if: github.ref_type == 'tag'
    needs: release
    uses: ./.github/workflows/_account_sync.yml
    permissions:
      packages: write
