name: CI

on:
  push:
  pull_request:

jobs:
  check:
    uses: ./.github/workflows/_check.yml

  lint:
    needs: check
    if: needs.check.outputs.branch-pr == ''
    uses: ./.github/workflows/_tox.yml
    with:
      tox: pre-commit

  test:
    needs: check
    if: needs.check.outputs.branch-pr == ''
    uses: ./.github/workflows/_test.yml
    with:
      python-version: dev
      runs-on: ubuntu-latest
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  docs:
    needs: [check, test]
    if: always() && needs.check.outputs.branch-pr == ''
    uses: ./.github/workflows/_docs.yml
    with:
      publish: ${{needs.test.result == 'success'}}
    permissions:
      contents: write

  example:
    needs: test
    if: github.ref_name == 'main'
    uses: ./.github/workflows/_example.yml
    secrets:
      EXAMPLE_DEPLOY_KEY: ${{ secrets.EXAMPLE_DEPLOY_KEY }}

  release:
    needs: [test, docs]
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/_release.yml
    permissions:
      contents: write
