name: CI

on:
  push:
  pull_request:

jobs:
  check:
    uses: ./.github/workflows/_check.yml

  lint:
    needs: check
    if: needs.check.outputs.not-in-pr
    uses: ./.github/workflows/_tox.yml
    with:
      tox: pre-commit

  test:
    needs: check
    if: needs.check.outputs.not-in-pr
    uses: ./.github/workflows/_test.yml
    with:
      python-version: dev
      runs-on: ubuntu-latest

  docs:
    needs: check
    if: needs.check.outputs.not-in-pr
    uses: ./.github/workflows/_docs.yml
    permissions:
      contents: write

  release:
    if: github.ref_type == 'tag'
    needs: docs
    uses: ./.github/workflows/_release.yml
    permissions:
      contents: write
